.card-title {
  margin-right: 1rem !important;
}

.img-thumbnail {
  width: 45px;
  margin-right: 0.6rem !important;
}

.card-header > h1 {
  margin-right: 1.4rem !important;

}

.card-header {
  border-bottom: 2px solid #333 !important;
}

header {
  border: 2px solid #333 !important;
}

p {
  margin: 0 !important;
  margin-top:  5px !important;
}

ul {
  height: 13rem !important;
}
