<%- include('partials/header.ejs') %>
	<div class="container mt-1">
		<header class="card-header mb-5">
			<h1 class="m-0 display-4 text-primary">
				<%= title %>
			</h1>
		</header>

    <div id="main-body" class="text-center mb-5">
      <p class="lead mb-2">Search a Location to get it's weather info...</p>

			<form action="/search" method="POST"> <!-- onsubmit="updateWeatherDataFromServer(); return false;" -->
				<div class="form-group">
					<input type="text" class="form-control" name="form_location" id="form_location" placeholder="Enter Location...">
				</div>
			</form>
    </div>

	</div>
<%- include('partials/footer.ejs') %>
